#barcodeviewimage {
    width: 100%;
    height: 100%;
    background-color:white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
}
#editviewimage {
    width: 100%;
}

.barcodeitem img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#map {
    height: 300px;
}
/* Optional: Makes the sample page fill the window. */
/*html, body {*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}


.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}




