#barcodeviewimage {
    width: 100%;
    height: 100%;
    background-color:white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
}
#editviewimage {
    width: 100%;
}

.barcodeitem img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ui-btn-red {
    background: #ab2525;
    border: 1px solid #711414;
    color: white;
}

#map {
    height: 300px;
}
#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
    color: black;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}




